@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

header{
    background: #F5F5F5;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

}

@media screen and (min-width: 1024px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between
    }
}

